/*navigation*/
header {
    height: 120px;
    z-index: 99;
    width: 100%;
    position: fixed;
}
nav {
    padding: 40px;
    display: flex;
    background: #0e0e0e;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.logo {
    width: 14%;
}
.logo img{
    width: 100%;
}
input#site-search {
    padding-left: 15px;
    height: 28px;
    border-radius: 30px;
    width: 521px;
}
.iconNav {
    color: white;
    display: flex;
    align-items: center;
}

.iconNav a{
    padding: 10px;
}

.iconNav a:hover{
    color: #ec346b;
}

.lienProfil {
    list-style: none;
}

.nav2 {
    display: flex;
    margin-bottom: 30px;
    box-shadow: 2px 2px 7px rgba(114, 114, 114, 0.8);
    background-color: #f4f6f8;
    height: 50px;
    justify-content: center;
}
.nav2 ul{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav2 li{
    list-style: none;
}
.nav2 li a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: ease-in-out all .1s;
}
.nav2 li a:hover{
    color: #ec346b;
}

.lineUn:hover .sub-menu,
.sub-menu:hover {
    display: block;
}

.sub-menu {
    width: 50%;
    padding: 21px;
    display: none;
    left: 107px;
    background: #f4f6f8;
    height: 254px;
    position: absolute;
    z-index: 99;
    bottom: -250px;
}
.btnSubmenu {
    border-radius: 20px;
    height: 40px;
    width: 220px;
    margin-bottom: 15px;
    margin-top: 0px;
    background: white;
}



.sub-menuLink {
    height: 65% !important;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center !important;
}

.sub-menuLink li{
    padding: 10px;
}
.subMenu-Destination {
    display: flex;
}
.subMenu-Destination li{
    padding-left: 10px;
}
.lienProfil:hover .sub-menuProfil{
    display: block;
}

.sub-menuProfil {
    display: none;
    right: 56px;
    background: #f4f6f8;
    height: 39px;
    width: 194px;
    position: absolute;
    z-index: 100;
    bottom: 22px;
    text-align: center;
}
.sub-menuProfil a{
    color: black;
}


/*page d'accueil*/
main {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baniere_Acc {
    height: 480px;
    width: 1280px;
}
.baniere_Acc img{
    width: 100%;
}
/*affichage  sur la home page*/
.titreAcc{
    margin-bottom: 0px;
    margin-top: 25px;
    width: 1280px;
}
.lesCategorisProdutis {
    margin-top: 25px;
    width: 1280px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.carousel {
    display: flex;
    position: relative;
    justify-content: center;
}
.carousel-inner {
    position: relative;
    width: 1280px !important;
    overflow: hidden;
}
.carousel-item {
    z-index: 0;
    opacity: 00;
    position: absolute;
    display: flex !important; /* Utilisation de flex pour que les éléments s'affichent en ligne */
    justify-content: space-around !important; /* Espacement équitable des éléments horizontalement */
    float: none; /* Suppression du flottement */
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out, opacity .6s ease-in-out;
}
.carousel-item.active {
    z-index: 90;
    opacity: 100;
    display: flex !important;
    justify-content: space-around !important;
}
.carousel-control-next, .carousel-control-prev {
    width: 3% !important;

}
button.carousel-control-prev {
    z-index: 100;
}
button.carousel-control-next {
    z-index: 100;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.boxCatégorie {
    text-decoration: none;
    color: black;
    border-radius: 24px;
    border: 1px solid black;
    width: 300px;
    transition: ease-in-out all .2s;
}
.boxCatégorie:hover {
    box-shadow: 2px 2px 7px rgba(114, 114, 114, 0.8);
}
.enTeteBoxCat {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.enTeteBoxCat img{
    width: 193px;
    height: 241px;
}

.boxCatégorie h3{
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}
.bi-chevron-right{
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid black;
    float: right;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.btnAccCatégorie {
    font-weight: 700;
    font-size: 1rem;
    border: none;
    color: white;
    background-color: #ec346b;
    border-radius: 53px;
    height: 46px;
    width: 370px;
    margin-bottom: 25px;
    transition: ease-in-out all .1s;
}

.btnAccCatégorie:hover{
    background-color: #c42c58;
}


    /*affichage des produits */

.card {
    width: 20rem;
    margin: 10px;
    transition: ease-in-out all .3s;
}
.card:hover {
    box-shadow: 2px 2px 7px rgba(114, 114, 114, 0.8);
}
.card a{
    text-decoration: none;
}

.lesProduits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.img_cardProduit {
    width: 20rem;
    height: 10rem;
}
.titreProduit{
    padding: 10px;
    font-size: 1em;
    color: black;
    font-weight: bolder;
}
.prixProduit{
    padding-left: 10px;
    color: black;
}

/*affichage détail produit*/
.oneProduit {
    margin-top: 40px;
    padding: 15px;
}
.oneProduit-header {
    display: flex;
}
.oneProduit-headerLesImg {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oneProduit-header img{
    height: 350px;
    width: 527px;
    border-radius: 20px;
}
.oneProduit-headerAutreImg img{
    margin-top: 5px;
    border-radius: 3px;
    height: 77px;
    width: 100px;
}
.oneProduit-descriptionDetail {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.oneProduit-descriptionPrix {
    color: #fe3873;
    font-size: 1.3rem;
    font-weight: 700;
}
.oneProduit-description {
    padding-left: 40px;
}
.oneProduit-descriptionBtnPanier{
    margin-top: 30px;
    display: flex;
    color: white;
    border: none;
    background-color: #fe3873;
    border-radius: 50px;
    width: 270px;
    height: 47px;
    justify-content: center;
    align-items: center;
}
.btnPanierLien {
    text-decoration: none;
    color: #f0f8ff00;
}
.oneProduit-descriptionBtnPanier svg.bi.bi-cart3 {
    margin-right: 10px;
}

.lesInformations {
    display: flex;
}

.oneProduit-h3{
    margin-top: 20px;
    font-size: 1.2rem;
}
.oneProduit-infoPratiqueSection h4{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 400;
}
.oneProduit-infoPratiqueSectionSurPlace{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.oneProduit-infoPratiqueTxt{
    margin-left: 2rem;
}

.informations-complémentaire {
    margin-left: 40px;
}
.oneProduit-infoPratique {
    margin-top: 20px;
}

.filtreProduit {
    display: flex;
    border-bottom: 1px solid;
    border-top: 1px solid black;
    height: 50px;
    width: 1280px;
    align-items: center;
    margin-bottom: 25px;
}

.categoriesFiltre{
    cursor: pointer;
    border-right: 1px solid;
    padding-left: 15px;
    padding-right: 55px;
}

.linkCategorie {
    left: 109px;
    border: 1px solid;
    border-radius: 25px;
    z-index: 9;
    position: absolute;
    top: 206px;
    display: none;
    width: 30%;
    background: white;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.listLienFiltreCat {
    list-style: none;
    padding: 5px;
}
.listLienFiltreCat a{
    color: black;
    text-decoration: none;
}
.listLienFiltreCat a:hover{
    color: #fc3872;
}
svg#closeWindowCat {
    cursor: pointer;
    color: red;
    margin-top: -140px;
    margin-left: 108px;
}

.categoriesFiltreRegion{
    cursor: pointer;
    border-right: 1px solid;
    padding-left: 15px;
    padding-right: 55px;
}

.linkCategorieRegion {
    left: 233px;
    border: 1px solid;
    border-radius: 25px;
    z-index: 9;
    position: absolute;
    top: 206px;
    display: none;
    width: 32%;
    background: white;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

svg#closeWindowCatRegion {
    cursor: pointer;
    color: red;
    margin-top: -76px;
    margin-left: 217px;
}

.afficheMotsCles{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.afficheMotsCles li{
    list-style: none;
}

/*section commentaire*/
.commentaire {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.userCommentaire {
    color: #0000006e;
    padding-right: 90px;
}
.contenuCommentaire {
    border-left: 1px solid;
    padding-left: 20px;
}
.commentaireTitre {
    font-weight: 700;
    margin-bottom: 0rem;
}
.commentaireParagraphe {
    width: 800px;
}
.fincommentaire{
    margin-top: 30px;
    width: 1050px;
}
.createComm {
    font-weight: 400;
    text-decoration: none;
    color: black;
}
.createComm:hover {
    color: #fc3872;
}

/*page panier*/
.lePanierGeneral {
    display: flex;
    justify-content: space-evenly;
}
.panier {
    width: 50%;
    background-color: #f4f4f4;
}
section.unProduitPanier {
    height: 310px;
}
.panierEnTete{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.panierEnTete img{
    width: 22%;
}
.panierEnTete-contenu{
    width: 60%;
}
.panierEnTete-contenu h3{
    font-size: 1.2rem;
    font-weight: 900;
}
.panierEnTete-contenu p{
    font-size: 1rem;
}
.panierSeparation{
    margin-top: 0px;
    margin-right: 24px;
    float: inline-end;
    width: 66%;
}
.panierQuantité {
    padding-bottom: 30px;
    display: flex;
    margin-right: 35px;
    float: inline-end;
    width: 60%;
    align-items: flex-end;
}
select#nbt-select {
    padding-left: 9px;
    border-radius: 22px;
    width: 70px;
    height: 28px;
    align-items: center;
}
.panierPrix{
    color: #fc3872;
    font-weight: 700;
    font-size: 1.1rem;
    margin-left: 15px;
    margin-bottom: 0px;
}
.panierRecap {
    width: 30%;
    background: #f4f4f4;
}

.suppPanier {
    margin-right: 20px;
    position: relative;
    float: right;
    top: -20px;
}

.linkSuppPanier {
    text-decoration: none;
    color: black;
}

.linkSuppPanier:hover {
    color: #fc3872;
}

/*formulaire de connection*/
.mainFormulaireLogin{
    padding-top: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageFormulaireLogin {
    display: flex;
    justify-content: center;
    height: 71vh;
    width: 100%;
    background: url(../img/fond_longin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.formulaireLogin {
    background: white;
    width: 568px;
}

.titreFormLogin {
    height: 50px;
    font-size: 1.1rem;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.titreFormLoginActive {
    border-bottom: 3px solid;
    color: #fe3873;
}

.titreFormLoginInscription {
    text-decoration: none;
    color: black;
}

.paragrapheFormulaire {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.titreParagrapheForm {
    font-size: 1.40rem;
    font-weight: 100;
}
.titreParagrapheForm-gras {
    font-weight: 700;
}
.contenuForm {
    padding: 20px;
}
.formulaireLoginBtn {
    margin-top: 50px;
    width: 100%;
    height: 40px;
    background: #fe3873;
    border: none;
    border-radius: 25px;
    color: white;
}

/*Inscription*/
.pageFormulaireRegister{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background: url(../img/fond_longin.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.champsInscription input{
    width: 100%;
}


/*Footer*/
footer {
    display: flex;
    background: #000000e0;
    color: white;
    flex-direction: column;
    align-items: center;
}
.lienFooter {
    margin-top: 20px;
    width: 1280px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

/*administrateur*/
.lienAccessAdmin {
    display: flex;
    width: 80%;
    height: 66vh;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.listLienAdmin {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.listLienAdmin a{
    font-weight: bold;
    text-decoration: none;
    color: #0e0e0e;
}
.listLienAdmin a:hover{
    color: #fe3873;
}

/*formulaire edition produit*/
.contenuFormUpdate {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formProduitImg {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.champsPhotoProduit label {
    margin-bottom: 10px;
}
.champsPhotoProduit p {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.LaphotoProduit {
    margin-top: 10px;
    width: 13rem;
}
.formProduitInfoPlus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.champsInscriptionAutre{
    width: 29%;
}
.formProduitInfoPlusList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.champsInscriptionList {
    width: 45%;
}
#produits_motsCles {
    display: flex;
    flex-direction: column;
}
#produits_motsCles input{
    top: 21px;
    z-index: 2;
    position: relative;
}
#produits_decouvrirSurPlace {
    display: flex;
    flex-direction: column;
}
#produits_decouvrirSurPlace input{
    top: 21px;
    z-index: 2;
    position: relative;
}
#produits_decouvrirAProximiter {
    display: flex;
    flex-direction: column;
}
#produits_decouvrirAProximiter input{
    top: 21px;
    z-index: 2;
    position: relative;
    margin-left: 200px;
}
.formulaireUpdateBtn {
    margin-top: 50px;
    width: 50%;
    height: 40px;
    background: #fe3873;
    border: none;
    border-radius: 25px;
    color: white;
}