{% extends 'base.html.twig' %}

{% block title %}Edit InformationsAnnimaux{% endblock %}

{% block body %}
    <main>
        <h1>Edit InformationsAnnimaux</h1>

        {{ include('informations_annimaux/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_informations_annimaux_index') }}">back to list</a>

        {{ include('informations_annimaux/_delete_form.html.twig') }}
    </main>
{% endblock %}
