{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <main>
        <h1>Votre commande a été correctement réalisée.</h1>
        <a href=" {{ path('home')}} ">Retour a l'accueil</a>
    </main>
{% endblock %}
