{% extends 'base.html.twig' %}
{% block body %}
    <section class="filtreProduit">
        <ul>

        </ul>

    </section>

    <section class="lesProduits">
        {% for produit in produits %}
            <div class="card">
                <a href="{{ path('produits_showOne', {'id': produit.id}) }}">

                    <div>
                        <img class="img_cardProduit" src="{{ produit.photo }}" alt="img destination">
                    </div>
                    <div>
                        <h2 class="titreProduit">{{ produit.nom }}</h2>
                        <p class="prixProduit">{{ produit.prix }}€</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </section>
{% endblock %}
